#!/usr/bin/env bash

export CLICOLOR=1

alias cfa='${EDITOR} ${ZDOTDIR}/.aliases'
alias cfp='${EDITOR} ${ZDOTDIR}/.zprofile'
alias cfr='${EDITOR} ${ZDOTDIR}/.zshrc'
alias sfr='. ${ZDOTDIR}/.zshrc'

alias drun='docker run --rm -it -v "${PWD}":/app -w /app'
alias rmpyc="find . -type d -name '__pycache__' -exec rm -rf {} \;"
alias ymp3="yt-dlp --extract-audio --audio-format mp3"
alias diff="diff --color -u"
alias 755d="find . -type d -exec chmod 755 {} \;"
alias 644f="find . -type f -exec chmod 644 {} \;"
alias vdt="rm /tmp/%*"

alias grepString="grep -r -F '{}' ."

#   -----------------------------
#   2.  MAKE TERMINAL BETTER
#   -----------------------------

alias cp='cp -iv'       # Preferred 'cp' implementation
alias mv='mv -iv'       # Preferred 'mv' implementation
alias mkdir='mkdir -pv' # Preferred 'mkdir' implementation
# alias ll='ls -FGalAhp'                      # Preferred 'ls' implementation
alias less='less -FSRXc' # Preferred 'less' implementation

alias ls='eza --color=always --group-directories-first --icons=auto'
alias ld='eza -lD --color=always --group-directories-first --icons=auto'
alias lf='eza -lf --color=always | grep -v /'
alias lh='eza -dl .* --color=always --group-directories-first'
alias ll='eza -la --icons --octal-permissions --group-directories-first'
alias l='eza -bGF --header --git --color=always --group-directories-first --icons=auto'
alias llm='eza -lbGd --header --git --sort=modified --color=always --group-directories-first --icons=auto'
alias la='eza --long --all --group --group-directories-first'
alias lx='eza -lbhHigUmuSa@ --time-style=long-iso --git --color-scale --color=always --group-directories-first --icons=auto'

alias lS='eza -1 --color=always --group-directories-first --icons=auto'
alias lt='eza --tree --level=2 --color=always --group-directories-first --icons=auto'
alias l.="eza -a --color=always | grep -E '^\.'"

# Easier navigation: .., ..., ...., ....., ~ and -
alias cd..='cd ../'              # Go back 1 directory level (for fast typers)
alias ..='cd ../'                # Go back 1 directory level
alias ...='cd ../../'            # Go back 2 directory levels
alias .3='cd ../../../'          # Go back 3 directory levels
alias .4='cd ../../../../'       # Go back 4 directory levels
alias .5='cd ../../../../../'    # Go back 5 directory levels
alias .6='cd ../../../../../../' # Go back 6 directory levels

# Shortcuts to common folders
alias ~="cd ~" # ~:            Go Home
alias -- -="cd -"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# alias edit='subl'                         # edit:         Opens any file in sublime editor
alias f='open -a Finder ./'               # f:            Opens current directory in MacOS Finder
alias c='clear'                           # c:            Clear terminal display
alias which='type -a'                     # which:        Find executables
alias path='echo -e ${PATH//:/\\n}'       # path:         Echo all executable Paths
alias show_options='setopt'               # show_options: display zsh options settings
alias fix_stty='stty sane'                # fix_stty:     Restore terminal settings when screwed up
alias cic="zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'" # cic: Make tab-completion case-insensitive
alias DT='tee ~/Desktop/terminalOut.txt'  # DT:           Pipe content to file on MacOS Desktop

#   lr:  Full Recursive Directory Listing
alias lr='command ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\'' | less'

# List all files colorized in long format
# alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
# alias la="ls -lAF ${colorflag}"

# List only directories
# alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
# alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

if command -v brew >/dev/null 2>&1; then
  # alias ls="ls -G"
  alias grep="grep --color=auto"
  alias fgrep="fgrep --color=auto"
  alias egrep="egrep --color=auto"
else
  # alias ls="ls --color=auto"
  alias grep="grep --color=auto"
  alias fgrep="fgrep --color=auto"
  alias egrep="egrep --color=auto"
fi

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

#   ---------------------------
#   6.  NETWORKING
#   ---------------------------

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias myip='curl ip.appspot.com'                  # myip:         Public facing IP Address
alias netCons='lsof -i'                           # netCons:      Show all open TCP/IP sockets
alias flushDNS='dscacheutil -flushcache'          # flushDNS:     Flush out the DNS Cache
alias lsock='sudo /usr/sbin/lsof -i -P'           # lsock:        Display open sockets
alias lsockU='sudo /usr/sbin/lsof -nP | grep UDP' # lsockU:       Display only open UDP sockets
alias lsockT='sudo /usr/sbin/lsof -nP | grep TCP' # lsockT:       Display only open TCP sockets
alias ipInfo0='ipconfig getpacket en0'            # ipInfo0:      Get info on connections for en0
alias ipInfo1='ipconfig getpacket en1'            # ipInfo1:      Get info on connections for en1
alias openPorts='sudo lsof -i | grep LISTEN'      # openPorts:    All listening connections
alias showBlocked='sudo pfctl -sr'                 # showBlocked:  All pf firewall rules

# Show active network interfaces
alias ifactive="ifconfig | awk -F: '/^[a-z0-9]+:/{iface=\$1} /status: active/{print iface}'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'; sudo rm -v /private/var/vm/sleepimage"

alias brewery='brew update && brew upgrade && brew cleanup'

# Lock the screen (when going AFK)
# alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
# Reload the shell (i.e. invoke as a login shell)
# alias reload="exec ${SHELL} -l" (Conflicted with function in .functions)


# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

alias cd3rd='cd "${HOME}/Developer/repos/GitHub/3rd"'
alias cdConfig="cd ${XDG_CONFIG_HOME}/"
alias cdMyDotFiles='cd "$(dotfiles-root)"'

alias nvimConfig="cdConfig; nvim"

alias nvimAliases="cdMyDotFiles; nvim zsh/.config/zsh/.aliases"
alias nvimAerospace="cdMyDotFiles; nvim aerospace/.config/aerospace/aerospace.toml"

# alias cdMyzed="cd ~/Developer/00repo/myzed"
# alias cdBrains="cd ~/Developer/00repo/myzed/brains"
# alias cdDockerBase="cd ~/Developer/00repo/myzed/dockerBase"
# alias cdDotFiles="cd ~/Developer/00repo/myzed/dotFiles"
# alias cdDotFilesNVim="cd ~/Developer/00repo/myzed/dotFiles/.config/nvim/"
# alias cdDotFilesZsh="cd ~/Developer/00repo/myzed/dotFiles/zsh/"
# alias nvimConfigNVim="cdDotFilesNVim; nvim"
